<div class="d-flex justifiy-content-center">
    <div *ngIf="product" class="card " style="width: 60rem;">
        <img src="{{product.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">€ {{ product.price }}</p>
            <p class="card-text">Available from: {{ product.date }}</p>
            <p class="card-text">Duration:{{ product.duration }}</p>
            <a routerLink="/travel" class="btn btn-primary">back to overview</a>
            <br>
            <button class="btn btn-danger mt-2" (click)="addToCart(product)">Book me</button>
        </div>
    </div>
</div>