<div class="box text-light">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Your email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>


        <div class="form-group">
            <label for="exampleFormControlTextarea1">Your message</label>
            <textarea class="form-control" placeholder="....just write in here" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        <button type="submit">Shoot us a message</button>
    </form>
</div>